.wrapper {
  width: 940px;
  max-height: 940px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title_and_like_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  color: #1890ff;
  display: block;
  font-size: 20px;
  line-height: 28px;
  max-width: 400px;
  padding: 0 10px;
  overflow: hidden;
  text-decoration: none;
}

.likes {
  display: block;
  background: none;
  border: none;
  width: 16px;
  height: 14.23px;
  cursor: pointer;
}

.liked_btn {
  filter: invert(15%) sepia(88%) saturate(7445%) hue-rotate(6deg)
    brightness(99%) contrast(120%);
}

.unliked_btn {
  filter: invert(67%) sepia(0%) saturate(118%) hue-rotate(215deg)
    brightness(91%) contrast(90%);
}

.like_counter {
  font-size: 12px;
  font-weight: 400;
  margin-left: -7px;
}

.tags_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.tag {
  width: 70px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  padding: 0px 2px;
  overflow: hidden;
}

.text_wrapper {
  width: 680px;
  height: 45px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
  overflow: hidden;
}

.right {
  display: flex;
  height: 46px;
  align-items: center;
  gap: 40px;
}

.name_and_data_wrapper {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.author_name {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  max-width: 120px;
  overflow: hidden;
}

.publication_data {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

.author_avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.full_text {
  width: 940px;
  margin-top: 25px;
  overflow: hidden;
}
