.header {
  width: calc(100vw - 60px);
  height: 60px;
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.home_logo {
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.btn_wrapper {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.signin_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.signin_btn:active {
  color: black;
}

.signin_btn:visited {
  color: black;
}

.signup_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  border: 1.5px solid rgb(82, 196, 26);
  border-radius: 5px;
  color: rgb(82, 196, 26);
  background-color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.logined_btn_wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 13px;
  text-decoration: none;
}

.profile:active {
  color: black;
}

.profile:visited {
  color: black;
}

.username {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.avatar {
  width: 46px;
  height: 46px;
}

.create_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 20px;
  border: 1.5px solid rgb(82, 196, 26);
  border-radius: 5px;
  color: rgb(82, 196, 26);
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.logout_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
}

.switcher {
  margin-left: -430px;
}
