.page {
  display: flex;
  justify-content: center;
}

.single_article {
  position: relative;
  width: fit-content;
  display: flex;
  height: 100vh;
  align-items: start;
  padding-top: 60px;
}

.btn_wrapper {
  position: absolute;
  bottom: 450px;
  right: 40px;
  display: flex;
  gap: 15px;
  width: fit-content;
}

.delete_btn {
  width: 80px;
  height: 32px;
}

.edit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 32px;
  border: 1.5px solid rgb(82, 196, 26);
  border-radius: 5px;
  color: rgb(82, 196, 26);
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.loader {
  display: block;
  position: absolute;
  top: 50vh;
  right: 50vw;
}
